<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 1</title>
    <link rel="stylesheet" href="layout1.css">
</head>
<body>
    <header>
        <span>Layout 1</span>
    </header>

    <!-- each section will take up 1/3 the page -->
    <section class="third">
        <span>1/3 Section</span>
    </section>
    <section class="third">
        <span>1/3 Section</span>
    </section>
    <section class="third">
        <span>1/3 Section</span>
    </section>

    <!-- each section will take up 1/2 the page -->
    <section class="half">
        <span>1/2 Section</span>
    </section>
    <section class="half">
        <span>1/2 Section</span>
    </section>

    <footer>
        <span>Footer</span>
    </footer>
</body>
</html>