<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 3</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- header -->
    <header>
        <span>Layout 3</span>
    </header>

    <!-- takes up 1/5 of screen -->
    <section class="body one-fifth">
        <span>1/5 Section</span>
    </section>

    <!-- takes up 2/5 of screen -->
    <section class="body two-fifths">
        <span>2/5 Section</span>
    </section>
    
    <!-- takes up 1/5 of screen -->
    <section class="body one-fifth">
        <span>1/5 Section</span>
    </section>

    <!-- takes up 1/5 of screen -->
    <section class="body one-fifth">
        <span>1/5 Section</span>
    </section>

    <!-- footer -->
    <footer>
        <span>Footer</span>
    </footer>
</body>
</html>